.hero-section {
  background: url("./aboutUs.jpeg") 50% no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
}

.hero-section .hero-section-text {
  padding-top: 50px;
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}