.hero-hotelssection {
  background: url("hotels.jpg") 20% no-repeat;
  background-size: cover;
  height: 70vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
       
}

.travel-feature-card-header {
  margin-top: 30px;
  background-color: #56524b;
  padding: 10px 15px 30px 45px;
  position: relative;
  margin-top: 15px;
}


.travel-feature-card-header .travel-feature-card-subtitle {
  float: left;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
}
.travel-feature-card-contact {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: .75em;
  text-transform: uppercase;
  color: black;
  text-align: left;
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #74D1EA
}

.travel-feature-card-details {
  background: white;
  
  padding: 20px;
  color: #8a8a8a;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;

}
.am-list{
	background-color: #adb0b5;
	padding: 20px
}
.amenities{
	padding-left: 10px;
	color: white;
}

.travel-feature-card-details button.added-button {
  color: #505050;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.8em;
}


@media screen and (max-width: 39.9375em) {
  .travel-feature-card-content {
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca;
  }
}

.travel-feature-card-price {
  text-align: left;
  position: relative;
  margin-left: 40px;
}


@media screen and (max-width: 39.9375em) {
  .travel-feature-card-price {
    padding-top: 15px;
  }
  .travel-feature-card-price .price-subtext {
    margin-bottom: 0px;
  }
}

.travel-feature-card-price h6 {
  font-weight: 600;
  font-size: 1.3em;
  color: #0a0a0a;
  padding: 0;
  margin: 0;
  background-color: white;
  padding: 10px;

}
.travel-feature-card-price button{
	background-color: #FBA100;
	color: white;
	padding: 10px;
	font-size: 1.25em;
	font-weight: 500;
	margin: 10px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;

}

.travel-feature-card-title {
  font-weight: 500;
  font-size: 1.25em;
  color: #0a0a0a;
  text-align: left;
}

.travel-feature-card-date-range {
  font-size: 0.9em;
  font-weight: 700;
  color: #0a0a0a;
  text-align: left;


}

.travel-feature-card-header-controls {
  float: right;
}

.travel-feature-card-header-controls i {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}



.floated-label-wrapper-booking {
  padding: 10px;
  background-color: rgba(128, 128, 128, .5);
}



.DateRangePickerInput__withBorder {
  border: none !important;
}

.DateRangePickerInput {
  background-color: transparent !important;
  
}

.DateInput_input {
  margin: 0px;
  display: inline-block;
}

.bookingSearch {
  width: 5%;
}
