.hero-checkout {
  background: url("./Checkout.jpeg") 100% no-repeat;
  background-size: cover;
  height: 42.5vh;
  text-align: center;
}

.hero-checkout .hero-checkout-text {
  padding-top: 10vh;
  color: white;
  text-shadow: 1px 1px 2px #0a0a0a;
}