.mainCard {
  width: 80%;
  margin: 1rem 2% 1rem 0;
  display: inline-block;
}

.cardSections {
  margin-top: 10px;
  width: 100%;
  /*border: 1px solid black;*/
  overflow: hidden; 
}

.cardName {
  display: inline-block;
}
.annualFee {
  color: maroon;
  display: inline-block;
  position: absolute;
  right: 80px;
}

.listOne {
  display: inline-block;

}

.listTwo {
  display: inline-block;
  padding-left: 10%;
  
}

.cardHolder {
  width: 20%;
  margin: 5px;
  float:left; /* add this */
}

.cardImg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardDesc {
  margin: 5px;
  padding-left: 5%; 
  overflow: hidden;
  
}

.apply {
  margin: 5px 35%;
}